body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  background: linear-gradient(to bottom right, white, pink, pink, yellow);
  color: #333;
  text-align: center;
}
